# =============== #
# Unity generated #
# =============== #
builds/
Logs/
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
stdout.log
Assets/sprites/nothing.png
Assets/sprites/nothing.png.meta
*.log
Logs/ApiUpdaterCheck.txt
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe10.log
Logs/shadercompiler-UnityShaderCompiler.exe11.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
Logs/shadercompiler-UnityShaderCompiler.exe8.log
Logs/shadercompiler-UnityShaderCompiler.exe9.log
