# =============== #
# Unity generated #
# =============== #
builds/
Logs/
Temp/
Obj/
UnityGenerated/
*build.bc
*payload.tar.7z
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
stdout.log
Assets/sprites/nothing.png
Assets/sprites/nothing.png.meta
*.log
Logs/ApiUpdaterCheck.txt
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe10.log
Logs/shadercompiler-UnityShaderCompiler.exe11.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
Logs/shadercompiler-UnityShaderCompiler.exe8.log
Logs/shadercompiler-UnityShaderCompiler.exe9.log
*.log
*.log
./.git/objects/pack/pack-a302ef7ecc40077115c66f877c73e163dc58014f.pack
./Library/Il2cppBuildCache/WebGL/Native/build.bc
./Library/il2cpp_cache/linkresult_8D329E5D0E573E97EB2876F75A8C0D80/build.bc
./Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@1.0.0/data~/payload.tar.7z
